<H1>GITHUB SEARCH</H1>


<form action="" class="form">
  <div class= "form-group">
   <button>SEARCH</button>   <input type="text" class="form-control" placeholder= "   search user using username"> [(ngModel)]="username" name="username"(keyup)="findUser" 
  </div>
</form>

<div *ngIf = "user">
  <div class = "panel panel-default">
    <div class = "panel-heading">
             {{user.name}}
     <small> {{user.login}} </small>small> // shows username
      
    </div>
    <div class = "panel-body">
      div class = "row"
      <div class = "col-sm-3">
        <img src = "{{user.avatar_url}}" class = "img-circle img-responsive" alt = "profile image"
      </div>
      <div class = "col-sm-5">
        <ul class = "list-group">
          <li>{{user.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>