

<H1>&nbsp;&nbsp;GITHUB SEARCH</H1>



<form  (keyup)="findUser()" #userForm = "ngForm">
  <div class="form-group">
    <input type="text" class="form-control" placeholder = " Enter Github username to search user details and repositories" [(ngModel)]="username" name = "username">
  </div>
</form>

<br>

<div *ngIf = "user">
  <div class = "panel panel-default">
    
    <div class = "panel-body">
      <div class = "row">
        
        <div class = "col-md-6">
          <img src = "{{user.avatar_url}}" class = "img-rounded" alt = "profile image">
        </div>
        <div class = "col-md-6">
          &nbsp;<h1>NAME : {{user.name}}<br><br><br>&nbsp;USERNAME :<small> {{user.login}} </small><br><br><br>
            &nbsp;FOLLOWING :  {{user.following}} <br><br><br>
            &nbsp;FOLLOWERS :  {{user.followers}} </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  
  <h1><p appHighlight>&nbsp;&nbsp;REPOSITORIES</p></h1><br>
  <div *ngIf = 'userService.newRepo'>
    <div class="repositories" *ngFor="let repository of userService.newRepo">
      <div>
        <table style = "width:100%">
          
          <tr>
            <td>
              <strong>&nbsp;&nbsp;NAME : {{repository.name}}</strong><br><br>        
              <strong>&nbsp;&nbsp;DESCRIPTION :   </strong> <span>{{repository.description}}</span>
              <br><br>
              
              <strong>
                <a href = "{{repository.html_url}}" target = "_blank">Click to view repository on Github</a>
              </strong>
            </td> 
          </tr>
        </table>
      </div>
    </div>
  </div>